<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Carga de votos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		.container {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Carga de votos</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Candidato</th>
						<th>Votos</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-center">Cambia Mendoza 501A</td>
					</tr>
					<tr>
						<td>Mondotte Francisco</td>
						<td><input type="number" class="form-control" name="candidato_1_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 501A</td>
						<td><input type="number" class="form-control" name="candidato_2_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Cambia Mendoza 501B</td>
					</tr>
					<tr>
						<td>Freidemberg Abel</td>
						<td><input type="number" class="form-control" name="candidato_3_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 501B</td>
						<td><input type="number" class="form-control" name="candidato_4_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Cambia Mendoza 501C</td>
					</tr>
					<tr>
						<td>Andion Alfredo</td>
						<td><input type="number" class="form-control" name="candidato_5_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 501C</td>
						<td><input type="number" class="form-control" name="candidato_6_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Cambia Mendoza 501D</td>
					</tr>
					<tr>
						<td>Consejales 501D</td>
						<td><input type="number" class="form-control" name="candidato_7_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Frente Libertario Democrata y Jubilados 503A</td>
					</tr>
					<tr>
						<td>Baldovin Juan</td>
						<td><input type="number" class="form-control" name="candidato_8_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 503A</td>
						<td><input type="number" class="form-control" name="candidato_9_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Frente Libertario Democrata y Jubilados 503B</td>
					</tr>
					<tr>
						<td>Bianchi Rodolfo</td>
						<td><input type="number" class="form-control" name="candidato_10_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 503B</td>
						<td><input type="number" class="form-control" name="candidato_11_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Frente de Izquierda 502A</td>
					</tr>
					<tr>
						<td>Benegas Maria</td>
						<td><input type="number" class="form-control" name="candidato_12_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 502A</td>
						<td><input type="number" class="form-control" name="candidato_13_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Frente de Izquierda 502B</td>
					</tr>
					<tr>
						<td>Bautista Franco</td>
						<td><input type="number" class="form-control" name="candidato_14_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 502B</td>
						<td><input type="number" class="form-control" name="candidato_15_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Elegi San Rafael Avanza 506A</td>
					</tr>
					<tr>
						<td>Sorroche Miguel</td>
						<td><input type="number" class="form-control" name="candidato_16_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 506A</td>
						<td><input type="number" class="form-control" name="candidato_17_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Elegi San Rafael Avanza 506B</td>
					</tr>
					<tr>
						<td>Yasuff Nadir</td>
						<td><input type="number" class="form-control" name="candidato_18_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 506B</td>
						<td><input type="number" class="form-control" name="candidato_19_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Elegi San Rafael Avanza 506C</td>
					</tr>
					<tr>
						<td>Felix Omar</td>
						<td><input type="number" class="form-control" name="candidato_20_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 506C</td>
						<td><input type="number" class="form-control" name="candidato_21_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Partido Verde 181</td>
					</tr>
					<tr>
						<td>Carrieri Sandra</td>
						<td><input type="number" class="form-control" name="candidato_22_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 181</td>
						<td><input type="number" class="form-control" name="candidato_23_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
                    <!---->
                    <tr>
						<td class="text-center">Partido Valle Grande 327</td>
					</tr>
					<tr>
						<td>Sanchez Alberto</td>
						<td><input type="number" class="form-control" name="candidato_24_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
					<tr>
						<td>Consejales 327</td>
						<td><input type="number" class="form-control" name="candidato_25_votos" placeholder="Ingrese la cantidad de votos"></td>
					</tr>
				
				</tbody>
			</table>
		</div>
		<button class="btn btn-primary btn-block">Cargar votos</button>
	</div>
</body>
</html>